1. Write a program to take 10 input from the user, store it in list and print it.
           Input Example:
              a = input("Enter Number:")

In [1]:
lists=[]
for a in range(10):
    a=input("enter number:")
    lists.append(a)
print(lists)

enter number:5
enter number:5
enter number:5
enter number:5
enter number:4
enter number:4
enter number:5
enter number:6
enter number:7
enter number:8
['5', '5', '5', '5', '4', '4', '5', '6', '7', '8']

2. Create a dictionary of 5 records where keys are Name, Age, College Name and define value of your own and print it.

In [2]:
dict=[
        {"Name":"vishal","Age":20," College Name":"AGCE"},
        { "Name":"vish","Age":21," College Name":"AG"},
        {"Name":"vishal","Age":20," College Name":"AGCE"},
        { "Name":"vish","Age":21," College Name":"AG"}
    ]



print(dict)

[{'Name': 'vishal', 'Age': 20, ' College Name': 'AGCE'}, {'Name': 'vish', 'Age': 21, ' College Name': 'AG'}, {'Name': 'vishal', 'Age': 20, ' College Name': 'AGCE'}, {'Name': 'vish', 'Age': 21, ' College Name': 'AG'}]

3. Convert the above dictionary to pandas dataframe.

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(dict)
df

     Name  Age  College Name
0  vishal   20          AGCE
1    vish   21            AG
2  vishal   20          AGCE
3    vish   21            AG

4. Write a program to perform write and read operation on a csv file. you can store the above dictionary in csv too

In [5]:
df.to_csv("dict.csv")
df=pd.read_csv("dict.csv")
df

   Unnamed: 0    Name  Age  College Name
0           0  vishal   20          AGCE
1           1    vish   21            AG
2           2  vishal   20          AGCE
3           3    vish   21            AG

5. Write a program to find the most frequent character and count of appearing in a below Text:

	Text : Data science is a field of finding pattern and insights in a particular set of data.

In [6]:
text="Data science is a field of finding pattern and insights in a particular set of data"

texts=text.lower()
count=[]
for i in texts:
    count= texts.count(f"{i}")     
print("most frequent character:",i)        
print("character count:",count)

most frequent character: a
character count: 10

6. Define and concatenate two lists. Give me 2 methods to do so.

In [7]:
a=[1,3,4,5,6]
b=[7,8,9,10,11]

In [8]:
# first method
c=a+b
print(c)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
#second method
a.extend(b)
print(a)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [10]:
#thrid method
for c in b:
    a.append(c)
print(a)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 7, 8, 9, 10, 11]

7. Create a simple calculator using python. Take 2 inputs from user. Note: Define functions for each operation

In [11]:
input_1=float(input("Enter the value:"))
input_2=float(input("Enter the value:"))
add=input_1+input_2
sub=input_1 - input_2
mul=input_1*input_2
div=input_1/input_2
print("Addition :",add)
print("Substraction:",sub)
print("Multiplication:",mul)
print("Division:",div)

Enter the value:5
Enter the value:5
Addition : 10.0
Substraction: 0.0
Multiplication: 25.0
Division: 1.0

. Write a program to reads the age of three people and how many of them are of legal age (age 18 or older).

In [ ]:
age_1=int(input("enter the age:"))
age_2=int(input("enter the age:"))
age_3=int(input("enter the age:"))
if age_1>=18:
    print("legal")
else:
    print("illegal")
if age_2>=18:
    print("legal")
else:
    print("illegal")
if age_3>=18:
    print("legal")
else:
    print("illegal")